<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
<link
	href="//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css"
	rel="stylesheet"/>
<link href="/resources/css/common.css" rel="stylesheet"/>

<title>Mailing</title>
</head>
<body>
		<nav role="navigation" class="navbar navbar-dark bg-dark">
			<div class="container">
				<div class="navbar-header">
					<button data-target="#navbar-collapse-02" data-toggle="collapse"
						class="navbar-toggle" type="button">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand brand"><i class="fa fa-codepen"></i>Massive Mail</a>
				</div>

				<div id="navbar-collapse-02" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/about">About</a></li>
						<li><a href="/team">Team</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>

	<div class="container">
		<form method="post" action="/" enctype="multipart/form-data">
			<div class="form-group">
				<label for="exampleFormControlInput1">Asunto:</label> <input
					type="text" class="form-control" name="subject" th:value="${subject}" id="exampleFormControlInput1" required="required"
					placeholder="Asunto"/>
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Emails:</label>
				<textarea class="form-control" name="emails" th:text="${emails}" id="exampleFormControlTextarea1" placeholder="Correos..."
					rows="3" required="required"></textarea>
			</div>
			<div class="form-group">
				<label for="files">Correo Html:</label> <input type="file"
					name="file" class="form-control" id="files" />
			</div>
			<div class="form-group">
				<input type="submit" value="Enviar" class="btn btn-success" />
			</div>
		</form>
		<div class="alert alert-success" role="alert" th:if="${success!=null}" th:text="${success}"></div>

	</div>
<a href="/wbs-email/index.html">Correo de contacto</a>


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/resources/css/jquery-3.3.1.slim.min.js"></script>
	<script src="/resources/css/popper.min.js"></script>
	<script src="/resources/css/bootstrap.min.js"></script>
</body>
</html>
